extends layout

include mixins/_formElement
include mixins/_post

block content
  form(method="POST").form
    +formElement({
      type: "textarea",
      name: "postContent",
      title: "POST CONTENT",
      uppercase: true
    }, errors)