extends layout

include mixins/_formElement
include mixins/_post

block content
  form(method="POST").form.form--post
    +formElement({
      type: "textarea",
      name: "content",
      title: "POST CONTENT",
      uppercase: true,
      showErrors: false
    }, errors)
    div.row
      p.form-element__error-text= errors && errors["postContent"] ? errors["postContent"].msg : ""
      input(type="submit" id="postSubmit" value="POST ->").button.button--primary
  div.post-container
    if posts
      each post in posts
        +post(post)