extends layout

include mixins/_formElement
include mixins/_post

block content
  form(method="POST").form.form--post
    +formElement({
      type: "textarea",
      name: "postContent",
      title: "POST CONTENT",
      uppercase: true,
      showErrors: false
    }, errors)
    div.row
      p.form-element__error-text= errors && errors["postContent"] ? errors["postContent"].msg : ""
      input(type="submit" id="postSubmit" value="POST ->").button.button--primary
  div.post-container
    +post("@LONG_NAME")
    +post("@REALLY_LONGER_NAME")
    +post("@CAPS_LOCK")
    +post()
    +post()
    +post()