include ./mixins/post.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/stylesheets/index.css")
    title CAPS LOCK
  body
    .layout-container
      header.layout-container__header
        .logo
          include ../public/images/logo.svg
        .buttons
          button.button.button--secondary LOG IN
      block content
        p Hello world!
    .background-gradient