extends layout

include mixins/_formElement

block content
  h1.page-header SETTINGS
  h2.section-header
    include ../public/images/icons/round-people-24px.svg
    span EDIT YOUR PROFILE
  form.form(method="POST")
    .profile-editor-block
      .profile-editor__avatar-block
        .profile-editor__avatar
          if user
            img.avatar(src=user.avatarURL, srcset=`${user.avatarURL+'?s=192&d=mp'} 1x, ${user.avatarURL+'?s=384&d=mp'} 2x`)
          else
            img.avatar(src="https://www.gravatar.com/avatar/4e77c3b74325f68fbe98f94c2e9b70e0?s=192&d=mp", srcset="https://www.gravatar.com/avatar/4e77c3b74325f68fbe98f94c2e9b70e0?s=192&d=mp 1x, https://www.gravatar.com/avatar/4e77c3b74325f68fbe98f94c2e9b70e0?s=384&d=mp 2x")
          h2.section-header
            include ../public/images/icons/round-account_circle-24px.svg
            span AVATAR
          p
            a(href="https://gravatar.com" target="_blank" rel="noopener") CHANGE YOUR GRAVATAR ->
      .profile-editor__input-block
        +formElement({
          type: "textarea",
          name: "description",
          title: "DESCRIPTION",
          placeholder: "GOOD DESCRIPTION",
          uppercase: true,
          min: 0,
          max: 1000
        }, errors)
        input(type="submit" id="editSubmit" value="UPDATE PROFILE ->").button.button--primary