extends layout

include mixins/_formElement

block content
  h1.page-header VERIFY ACCOUNT
  if email
    p.body-paragraph!= `VERIFY YOUR ACCOUNT BY ENTERING THE VERIFICATION CODE SENT TO <b>${email.toUpperCase()}</b> BELOW.`
  else
    p.body-paragraph VERIFY YOUR ACCOUNT BY ENTERING THE VERIFICATION CODE SENT TO YOUR EMAIL BELOW.
  form(method="POST").form
    .row
      +formElement({
        type: "text",
        name: "verificationCode",
        title: "VERIFICATION CODE",
        placeholder: "tree-bark-ruff-milk",
        monospace: true,
        autocomplete: "off"
      }, errors)
      input(type="submit" id="verifySubmit" value="VERIFY ->").button.button--primary