@import _vars

button.button, input.button
  margin: 0
  padding: 9px 32px
  font-family: mono
  font-weight: bold
  font-size: 24px
  border: none
  border-radius: 8px
  box-sizing: border-box
  transition: box-shadow 50ms, background 50ms, color 50ms, border 50ms
  cursor: pointer
  user-select: none
  outline: 0
  &--primary
    background: mainColor
    color: bgColor
    box-shadow: 0 4px 8px mainColor
    border: 2px solid mainColor
    &:hover
      background: lighten(mainColor, 5%)
      box-shadow: 0 4px 16px lighten(mainColor, 5%)
      border: 2px solid lighten(mainColor, 5%)
    &:active
      background: lighten(mainColor, 5%)
      box-shadow: 0 0px 0px lighten(mainColor, 5%)
      border: 2px solid lighten(mainColor, 5%)
    &[disabled]
      background: darken(mainColor, 25%)
      color: mainColor
      border: 2px solid mainColor
      box-shadow: 0 0px 0px mainColor
      cursor: not-allowed
  &--secondary
    background: secondaryColor
    color: mainTextColor
    border: 2px solid secondaryColor
    box-shadow: 0 4px 8px trinaryColor
    &:hover
      background: lighten(secondaryColor, 25%)
      box-shadow: 0 4px 16px trinaryColor
      border: 2px solid lighten(secondaryColor, 25%)
    &:active
      background: lighten(secondaryColor, 25%)
      box-shadow: 0 0px 0px trinaryColor
      border: 2px solid lighten(secondaryColor, 25%)
    &[disabled]
      background: darken(secondaryColor, 25%)
      color: secondaryTextColor
      border: 2px solid secondaryTextColor
      box-shadow: 0 0px 0px trinaryColor
      cursor: not-allowed
  &--big
    font-size: 36px
    padding: 16px 128px
  &--margin-left
    margin-left: 16px
  &--margin-right
    margin-right: 16px