@import _vars

form.form
  display: block
  .form-element
    // display: flex
    // flex-direction: column
    .form-element__title
      position: absolute
      margin: 0
      margin-top: -12px
      padding: 0
      height: 0
      z-index: 2
      height: 0
      .form-element__title-text
        display: inline-block
        height: 12px
        margin: 0
        margin-left: 16px
        padding: 0
        font-weight: bold
        font-size: 12px
        background: bgColor
        box-shadow: 0 0 0 4px bgColor
    textarea
      min-height: 118px
      resize: vertical
    .form-element__input
      box-sizing: border-box
      margin: 0
      padding: 14px
      height: 48px
      width: 100%
      font-family: inherit
      font-size: 18px
      border: 2px solid mainTextColor
      border-radius: 8px
      &:focus
        border: 2px solid mainColor
        outline: 0
      &:-webkit-autofill
        background: inherit
    .form-element__error
      visibility: hidden
      p
        margin: 0
        margin-top: 8px
        margin-bottom: 24px
        font-weight: bold
        color: warningColor
    &.error
      .form-element__title
        color: warningColor
      .form-element__input
        border: 2px solid warningColor
      .form-element__error
        visibility: visible
  .row
    display: flex
    flex-direction: row
    flex-grow: 0
    width: 100%
    .form-element
      width: 100%
      margin-right: 32px
    .button
      height: 48px
  &--post .row
    justify-content: space-between
    p.form-element__error-text
      margin: 0
      margin-top: 8px
      margin-bottom: 24px
      font-weight: bold
      color: warningColor
