@import _vars

.profile
  display: flex
  img.avatar
    height: 192px
    width: 192px
  &__description_block
    margin-left: 32px
    h2.profile__name
      margin: 0
      padding: 0
      font-family: mono
    h3
      margin: 4px 0

@media only screen and (max-width: 700px)
  .profile
    flex-direction: column
    justify-content: center
    align-items: center
    img.avatar
      height: 96px
      width: 96px
    &__description_block
      margin-left: 0
      text-align: center