mainColor = #00D16C
secondaryColor = #F2F2F2
trinaryColor = #D1D1D1
bgColor = #FFFFFF
mainTextColor = #333333
secondaryTextColor = #666666
warningColor = #CC0022
main = 'Inter UI', sans-serif
mono = 'Iosevka Web', monospace