@import url("/fonts/inter-ui/inter-ui.css");
@import url("/fonts/iosevka/webfont.css");
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  color: #333;
  background-color: #fff;
  background: url("/images/background.png");
  background-size: 448px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  box-sizing: border-box;
}
.layout-container {
  margin: 0 auto;
  padding: 64px 128px;
  position: relative;
  max-width: 896px;
  min-height: 100vh;
  background: #fff;
}
header.layout-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.layout-container__header div.logo svg {
  height: 64px;
  width: 78px;
}
header.layout-container__header div.logo svg.big {
  height: 256px;
  width: 320px;
}
main.layout-container__content {
  margin-top: 32px;
}
button.button {
  margin: 0;
  padding: 8px 32px;
  font-family: 'Iosevka Web', monospace;
  font-weight: 600;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  transition: box-shadow 50ms, background 50ms, color 50ms;
  cursor: pointer;
  outline: 0;
}
button.button--primary {
  background: #00d16c;
  color: #fff;
  box-shadow: 0 4px 8px #00d16c;
}
button.button--primary:hover {
  background: #00e074;
  box-shadow: 0 4px 16px #00e074;
}
button.button--primary:active {
  background: #00e074;
  box-shadow: 0 0px 0px #00e074;
}
button.button--primary[disabled] {
  background: #009d51;
  color: #00d16c;
  border: 2px solid #00d16c;
  box-shadow: 0 0px 0px #00d16c;
  cursor: not-allowed;
}
button.button--secondary {
  background: #f2f2f2;
  color: #333;
  box-shadow: 0 4px 8px #d1d1d1;
}
button.button--secondary:hover {
  background: #f3f3f3;
  box-shadow: 0 4px 16px #d1d1d1;
}
button.button--secondary:active {
  background: #f3f3f3;
  box-shadow: 0 0px 0px #d1d1d1;
}
button.button--secondary[disabled] {
  background: #b5b5b5;
  color: #666;
  border: 2px solid #666;
  box-shadow: 0 0px 0px #d1d1d1;
  cursor: not-allowed;
}
button.button--margin-left {
  margin-left: 16px;
}
button.button--margin-right {
  margin-right: 16px;
}
div.post {
  display: flex;
  margin-bottom: 16px;
}
div.post .post__author {
  display: flex;
  width: 112px;
  margin-right: 16px;
  align-items: flex-start;
  flex-direction: column;
}
div.post .post__author .post__author-image {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  background-color: #00d16c;
  background-image: url("/images/logo-white.svg");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
div.post .post__author .post__author-name {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 14px;
}
div.post .post__content {
  position: relative;
  width: 100%;
  padding: 16px 16px 0 16px;
  border-radius: 0px 8px 8px 8px;
  background: #f2f2f2;
}
div.post .post__content.interactive {
  display: flex;
  align-items: center;
  padding: 16px;
}
div.post .post__content:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 0;
  left: -16px;
  border-top: 8px solid #f2f2f2;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #f2f2f2;
  z-index: 2;
}
div.post .post__content .post__content-text p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  white-space: pre-wrap;
}
div.post .post__content .post__content-text p.interactive {
  font-weight: bold;
  font-size: 48px;
  line-height: initial;
}
div.post .post__content .post__content-footer {
  display: flex;
  margin-top: 8px;
  margin-bottom: 4px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
}
div.post .post__content .post__content-footer span {
  vertical-align: center;
  color: #666;
  margin: 0;
}
div.post .post__content .post__content-footer svg {
  fill: #666;
}
div.post .post__content .post__content-footer .post__age {
  display: flex;
  align-items: center;
}
div.post .post__content .post__content-footer .post__age span {
  margin-left: 8px;
  font-size: 18px;
}
div.post .post__content .post__content-footer .post__buttons {
  display: flex;
}
div.post .post__content .post__content-footer .post__buttons .post__button {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
div.post .post__content .post__content-footer .post__buttons .post__button svg {
  height: 24px;
  width: 24px;
}
div.post .post__content .post__content-footer .post__buttons .post__button span {
  margin-top: -2px;
  font-weight: bold;
  font-size: 12px;
}
div.post .post__content .post__content-footer .post__buttons .post__button:hover svg {
  fill: #949494;
}
div.post .post__content .post__content-footer .post__buttons .post__button:hover span {
  color: #949494;
}
.background-gradient {
  background: linear-gradient(90deg, transparent, #00d16c, #00d16c, transparent);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
