mainColor = #00D16C
secondaryColor = #F2F2F2
trinaryColor = #D1D1D1
bgColor = #FFFFFF
mainTextColor = #333333
secondaryTextColor = #666666
warningColor = #CC0022
main = 'Inter UI', sans-serif
mono = 'Iosevka Web', monospace

body
  margin: 0
  padding: 0
  font-family: main
  min-height: 100%
  color: mainTextColor
  background-color: bgColor
  background: url('/public/images/background.png')
  background-size: 448px
  background-attachment: fixed
  background-repeat: repeat
  background-position: center

.layout-container
  margin: 0 auto
  padding: 64px 128px
  position: relative
  max-width: 896px
  min-height: calc(100vh - 128px)
  background: bgColor

header.layout-container__header
  display: flex
  justify-content: space-between
  align-items: center
  div.logo
    svg
      height: 64px
      width: 78px

main.layout-container__content
  margin-top: 32px
  .sign-up-row
    margin-top: 32px
    display: flex
    align-items: center
    width: 100%
    a
      flex-grow: 1
    button.button
      padding: 16px 0
      width: 100%
    span
      padding: 0 32px
      font-family: mono
      font-size: 24px
  svg
    fill: mainTextColor
  p.body-paragraph
    margin: 32px 0
  h1.page-header
    display: inline-block
    margin: 0
    margin-bottom: 10px
    padding: 0
    font-weight: bold
    font-size: 48px
    box-shadow: 0 10px 0 mainColor
  h2.section-header
    display: flex
    margin: 32px 0
    padding: 0
    font-weight: 500
    font-size: 24px
    align-items: center
    span
      margin-left: 16px

footer.layout-container__footer
  margin-top: 64px
  hr
    display: inline-block
    text-align: left
    height: 4px
    width: 64px
    background: secondaryTextColor
  p
    white-space: pre-wrap
    font-family: Inter UI
    font-weight: bold
    line-height: 27px
    font-size: 18px
    color: #666666

button.button, input.button
  margin: 0
  padding: 9px 32px
  font-family: mono
  font-weight: bold
  font-size: 24px
  border: none
  border-radius: 8px
  box-sizing: border-box
  transition: box-shadow 50ms, background 50ms, color 50ms, border 50ms
  cursor: pointer
  user-select: none
  outline: 0
  &--primary
    background: mainColor
    color: bgColor
    box-shadow: 0 4px 8px mainColor
    border: 2px solid mainColor
    &:hover
      background: lighten(mainColor, 5%)
      box-shadow: 0 4px 16px lighten(mainColor, 5%)
      border: 2px solid lighten(mainColor, 5%)
    &:active
      background: lighten(mainColor, 5%)
      box-shadow: 0 0px 0px lighten(mainColor, 5%)
      border: 2px solid lighten(mainColor, 5%)
    &[disabled]
      background: darken(mainColor, 25%)
      color: mainColor
      border: 2px solid mainColor
      box-shadow: 0 0px 0px mainColor
      cursor: not-allowed
  &--secondary
    background: secondaryColor
    color: mainTextColor
    border: 2px solid secondaryColor
    box-shadow: 0 4px 8px trinaryColor
    &:hover
      background: lighten(secondaryColor, 25%)
      box-shadow: 0 4px 16px trinaryColor
      border: 2px solid lighten(secondaryColor, 25%)
    &:active
      background: lighten(secondaryColor, 25%)
      box-shadow: 0 0px 0px trinaryColor
      border: 2px solid lighten(secondaryColor, 25%)
    &[disabled]
      background: darken(secondaryColor, 25%)
      color: secondaryTextColor
      border: 2px solid secondaryTextColor
      box-shadow: 0 0px 0px trinaryColor
      cursor: not-allowed
  &--big
    font-size: 36px
    padding: 16px 128px
  &--margin-left
    margin-left: 16px
  &--margin-right
    margin-right: 16px

form.form
  display: block
  .form-element
    // display: flex
    // flex-direction: column
    .form-element__title
      position: absolute
      margin: 0
      margin-top: -12px
      padding: 0
      height: 0
      z-index: 2
      height: 0
      .form-element__title-text
        display: inline-block
        height: 12px
        margin: 0
        margin-left: 16px
        padding: 0
        font-weight: bold
        font-size: 12px
        background: bgColor
        box-shadow: 0 0 0 4px bgColor
    textarea
      min-height: 118px
      resize: vertical
    .form-element__input
      box-sizing: border-box
      margin: 0
      padding: 14px
      height: 48px
      width: 100%
      font-family: inherit
      font-size: 18px
      border: 2px solid mainTextColor
      border-radius: 8px
      &:focus
        border: 2px solid mainColor
        outline: 0
      &:-webkit-autofill
        background: inherit
    .form-element__error
      visibility: hidden
      p
        margin: 0
        margin-top: 8px
        margin-bottom: 24px
        font-weight: bold
        color: warningColor
    &.error
      .form-element__title
        color: warningColor
      .form-element__input
        border: 2px solid warningColor
      .form-element__error
        visibility: visible
  .row
    display: flex
    flex-direction: row
    flex-grow: 0
    width: 100%
    .form-element
      width: 100%
      margin-right: 32px
    .button
      height: 48px

.post
  display: flex
  margin-bottom: 16px
  .post__author
    display: flex
    width: 112px
    margin-right: 16px
    align-items: flex-start
    flex-direction: column
    .post__author-image
      height: 64px
      width: 64px
      border-radius: 32px
      background-color: mainColor
      background-image: url('/public/images/logo-white.svg')
      background-size: 42px
      background-position: center
      background-repeat: no-repeat
    .post__author-name
      width: 100%
      font-size: 12px
      font-weight: bold
      text-align: center
      line-height: 14px
  .post__content
    position: relative
    width: 100%
    padding: 16px 16px 0 16px
    border-radius: 0px 8px 8px 8px
    background: secondaryColor
    &.interactive
      display: flex
      align-items: center
      padding: 32px
    &:before
      content: ''
      position: absolute
      height: 0
      width: 0
      top: 0
      left: -16px
      border-top: 8px solid secondaryColor
      border-bottom: 8px solid transparent
      border-left: 8px solid transparent
      border-right: 8px solid secondaryColor
      z-index: 2
    .post__content-text p
      margin: 0
      padding: 0
      font-weight: normal
      font-size: 18px
      line-height: 26px
      white-space: pre-wrap
      &.interactive
        font-weight: bold
        font-size: 48px
        line-height: initial
    .post__content-footer
      display: flex
      margin-top: 8px
      margin-bottom: 4px
      height: 48px
      justify-content: space-between
      align-items: center
      svg
        fill: secondaryTextColor
      span
        vertical-align: center
        color: secondaryTextColor
        margin: 0
      .post__age
        display: flex
        align-items: center
        span
          margin-left: 8px
          font-size: 18px
      .post__buttons
        display: flex
        .post__button
          margin-left: 16px
          display: flex
          flex-direction: column
          align-items: center
          cursor: pointer
          svg
            height: 24px
            width: 24px
          span
            margin-top: -2px
            font-weight: bold
            font-size: 18px
          &:hover
            svg
              fill: lighten(secondaryTextColor, 30%)
            span
              color: lighten(secondaryTextColor, 30%)

.profile-editor-block
  margin-top: 64px
  width: 100%
  display: flex
  justify-content: center
  .profile-editor__avatar-block
    margin-right: 64px
    text-align: center
    h2.section-header
      display: flex
      justify-content: center
      margin: 16px
    img.avatar
      height: 192px
      width: 192px
    flex-direction: column
  .profile-editor__input-block
    width: 100%
    // display: flex
    flex-direction: column
    .button.button--primary
      width: 100%

.project-status
  position: fixed
  margin: 16px
  bottom: 0
  right: 0
  font-family: mono
  font-weight: bold
  font-size: 32px
  text-shadow: -2px -2px 0 white,
               2px -2px 0 white,
               -2px 2px 0 white,
               2px 2px 0 white

img.avatar
  border-radius: 50%
  height: 64px
  width: 64px

a
  color: mainColor
  &:hover
    color: lighten(mainColor, 5%)
  &:visited
    color: darken(mainColor, 25%)

.background-gradient
  background: linear-gradient(90deg, transparent, mainColor, mainColor, transparent)
  position: fixed
  top: 0
  left: 0
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  z-index: -1

pre.code
  padding: 16px
  width: 100%
  background: secondaryColor
  word-break: break-word

.uppercase
  text-transform: uppercase

.monospace
  font-family: mono !important

.caps-dot
  color: mainColor

// @TODO: Breakpoints