mixin post(author="CAPS LOCK", text="RANT OR RAVE IN A THOUSAND CHARACTERS OR LESS", interactive=false)
  .post
    .post__author
      .post__author-image
      .post__author-name
        p= author
    if interactive
      .post__content.interactive
        .post__content-text
          p.interactive= text
    else
      .post__content
        if interactive
        .post__content-text
          p= text
        .post__content-footer
          .post__age
            include ../../public/images/icons/round-access_time-24px.svg
            span 8 MINUTES AGO
          .post__buttons
            .post__button.post__button-reply
              include ../../public/images/icons/round-reply-24px.svg
              span 4
            .post__button.post__button-favorite
              include ../../public/images/icons/round-favorite_border-24px.svg
              span 103
            .post__button.post__button-repost
              include ../../public/images/icons/round-repeat-24px.svg
              span 23